<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.teamsb">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />


    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:name=".ApplicationClass"
        android:icon="@drawable/logo"
        android:label="가천 기숙사"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.TeamSB">
        <activity android:name=".login.FirstNicknameSetActivity" android:screenOrientation="portrait"/>
        <activity android:name=".post.PostActivity" android:screenOrientation="portrait"/>
        <activity android:name=".main.home.PostListActivity" android:screenOrientation="portrait"/>
        <activity android:name=".toolbar.SearchActivity" android:screenOrientation="portrait"/>
        <activity android:name=".toolbar.setting.SettingActivity" android:screenOrientation="portrait"/>
        <activity android:name=".toolbar.WriteActivity" android:screenOrientation="portrait"/>
        <activity android:name=".toolbar.NotificationActivity" android:screenOrientation="portrait"/>
        <activity android:name=".main.home.GuideActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.nickname.NicknameActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.splash.SplashActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".toolbar.setting.AppGuideActivity"  android:screenOrientation="portrait"/>

        <activity android:name=".login.SplashActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.login.LoginActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.main.MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".api.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".api.ForcedTerminationService" android:stopWithTask="false"/>


    </application>


</manifest>