<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.teamsb">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:name=".post.App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TeamSB">
        <activity android:name=".login.FirstNicknameSetActivity"/>
        <activity android:name=".login.LoginActivity"/>
        <activity android:name=".main.home.DeliveryActivity"/>
        <activity android:name=".main.home.TaxiActivity"/>
        <activity android:name=".main.home.FoodActivity"/>
        <activity android:name=".main.home.LaundryActivity"/>

        <activity android:name=".toolbar.SearchActivity"/>
        <activity android:name=".main.MainActivity"/>
        <activity android:name=".toolbar.SettingActivity"/>


        <activity android:name=".post.PostActivityServerWithCoroutine2"/>
            <activity android:name=".toolbar.WriteActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>