<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.teamsb">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:name=".post.App"
        android:icon="@drawable/logo"
        android:label="가천기숙사"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.TeamSB">
        <activity android:name=".login.FirstNicknameSetActivity"/>
        <activity android:name=".post.PostActivity"/>
        <activity android:name=".main.home.PostListActivity"/>
        <activity android:name=".toolbar.SearchActivity"/>
        <activity android:name=".toolbar.SettingActivity"/>
        <activity android:name=".toolbar.WriteActivity"/>
        <activity android:name=".toolbar.NotificationActivity"/>
        <activity android:name=".main.home.GuideActivity"/>
        <activity android:name=".login.LoginActivity"/>
        <activity android:name=".main.MainActivity"/>

        <activity android:name=".login.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".api.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".api.ForcedTerminationService" android:stopWithTask="false"/>


    </application>


</manifest>